aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.1
backoff==1.11.1
backports.entry-points-selectable==1.1.0
buttons==0.1.9
certifi==2020.4.5.1
cffi==1.14.6
chardet==3.0.4
discord.py==1.7.3
distlib==0.3.2
dnspython==1.16.0
emoji==0.5.4
ffmpeg==1.4
filelock==3.0.12
idna==2.9
isodate==0.6.0
ldap3==2.9
mongoengine==0.23.1
motor==2.1.0
multidict==4.7.5
natural==0.2.0
parsedatetime==2.6
platformdirs==2.0.2
praw==6.5.1
prawcore==1.0.1
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pydirectory==0.1.15
pygicord==0.5.0
pymongo==3.10.1
PyNaCl==1.4.0
python-dateutil==2.8.1
python-dotenv==0.14.0
requests==2.23.0
six==1.14.0
spotify==0.10.2
typing-extensions==3.10.0.0
update-checker==0.16
urllib3==1.25.9
virtualenv==20.6.0
websocket-client==0.57.0
websockets==8.1
yarl==1.4.2
youtube-dl==2021.6.6
